<div id="footer">

  <p style="font-size:12.8px;margin-bottom:12pt;background-image:init
  ial;background-position:initial;background-repeat:initial"><img src="../footer_img.png" width
  ="96" height="96" style="font-size: 12.8px;"><br></p><div style="fo
  nt-size:12.8px"><div dir="ltr"><p style="margin:0cm 0cm 0.0001pt;backgr
  ound-image:initial;background-position:initial;background-repeat:initial">
  <b><span style="font-size:7.5pt;font-family:Arial,sans-serif;color:rgb(2,7
  3,88)">Vertaalbureau Textwerk B.V.</span></b><span style="font-size:9.5pt
  ;font-family:Arial,sans-serif;color:rgb(2,73,88)"></span></p><p style="ma
  rgin:0cm 0cm 0.0001pt;background-image:initial;background-position:initial;
  background-repeat:initial"><b><span lang="EN-US" style="font-size:7.5pt
  ;font-family:Arial,sans-serif;color:rgb(242,99,74)">Jacob van Lennepstraat 
  78 H,=C2=A0</span></b><b><span style="font-size:7.5pt;font-family:Arial,s
  ans-serif;color:rgb(242,99,74)">1053 HM</span></b><span style="font-size:
  9.5pt;font-family:Arial,sans-serif;color:rgb(242,99,74)"></span></p><p styl
  e="font-size:12.8px;background-image:initial;background-position:initial;
  background-repeat:initial;margin:0cm 0cm 0.0001pt"></p><p style="margin:0
  cm 0cm 0.0001pt;background-image:initial;background-position:initial;backgr
  ound-repeat:initial"><b><span style="font-size:7.5pt;font-family:Arial,sa
  ns-serif;color:rgb(242,99,74)">Amsterdam | The Netherlands</span></b><span
  style="font-size:9.5pt;font-family:Arial,sans-serif;color:rgb(242,99,74)"
  ></span></p><p style="font-size:12.8px;background-image:initial;backgroun
  d-position:initial;background-repeat:initial;margin:0cm 0cm 0.0001pt"><b st
  yle="color:rgb(242,99,74);font-family:Arial,sans-serif;font-size:10px">
</div>
