<!DOCTYPE html>
<html>
<head>
</head>
<body class="quotation">
  <div class="wrapper row transparantbox">

    <div class="column right-column">
      <div class ="right-column-inner" style="margin-top: 200px">
          <form action="" method="get">
            <input type="text" value="download" style="display:none" id="from" name="from"/>
            <input class="btn-orange" type="submit" value="download csv"></input>
          </form>
      </div>
    </div>
  </div>
</body>
</html>

<style>
/*
 * General Styles
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto', sans-serif !important;
}
@media (min-width: 992px) {
  .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.quotation,
.thankyou {
  background-image: url('../bg-textwerk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    background-attachment: fixed;
  color: #fff;
}
.quotation h3,
.quotation h5 {
  color: #fff;
  padding-bottom: 10px;
}
.quotation h3 {
  padding-bottom: 15px;
}
.wrapper {
    width: 440px;
    margin: auto;
}


</style>
