<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div id="container">
        <div id="main">
          <h2>PAGE NOT FOUND</h2>
        </div>
    </div>
</body>
</html>

<style>
    body {
        background-color: #f3f3f3;
    }

    #container {
        margin: auto;
        width: 80%;
        height: 100%;
        background-color: #f3f3f3;
    }

    #main {
       width: 70%;
       margin: auto;
    }

    #main h2 {
      margin-top: 300px;
      width: 40%;
      margin: 20px auto;
    }
    #main h4 {
      width: 40%;
      margin: 20px auto;
    }
</style>
