<!DOCTYPE html>
<html>
<head>
</head>
<body class="quotation">
    <div id="container">
        <div style="margin:auto;margin-top:400px; width: 200px">
          <h2>THANK YOU FOR YOUR FEEDBACK</h2>
        </div>
    </div>
</body>
</html>
<html>
<head>
</head>

<style>
/*
 * General Styles
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: 'Roboto', sans-serif !important;
}
@media (min-width: 992px) {
	.container-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
}
.quotation,
.thankyou {
	background-image: url('../bg-textwerk.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: #fff;
}
.quotation h3,
.quotation h5 {
	color: #fff;
	padding-bottom: 10px;
}
.quotation h3 {
	padding-bottom: 15px;
}
</style>
